*/bin
/bin
*/obj
/obj
/wwwroot
/Logs
/appsettings.json
/appsettings.Development.json
.vs
Video/
/packages
tasks.json
launch.json
Dim.pdf
*.pdf
.sonarqube
/IA/DetectFace/shape_predictor_68_face_landmarks.dat
LICENSE.txt
/Temp/*.xlsx
/Temp/*.pdf
.fake
*.sln
*.csv
./vscode
.env

/Missing
/IA/**.jpg
/IA/**.jpeg
/IA/**.png