*/bin
/bin
*/obj
/obj
/wwwroot
/Logs
/appsettings.json
/appsettings.Development.json
.vs
Video/
/packages
tasks.json
launch.json
Dim.pdf
*.pdf
LICENSE.txt
/Temp/*.xlsx
/Temp/*.pdf
.fake
*.sln
*.csv
./vscode
.env