*/bin
/bin
*/obj
/obj
/Logs

.env
appsettings.json
appsettings.Development.json

*.sln

Video/

.vs
.vscode/
.vs/usr-service/v15/.suo
/wwwroot/reports
/publish
/packages
/Temp
/usr-service.csproj.user